@{
    ViewData["Title"] = "Домашня сторінка";
}

<div class="text-center">
    <h1 class="display-4">Вітаємо на сайті доставки «EveryDay»!</h1>
    <p>Для навігації користуйтеся меню вгорі.</p>
</div>
