@model DeliveryWebApplication.ProductInShop

@{
    ViewData["Title"] = "Додати продукт в магазин";
}

<h4>Додати продукт "<b>@ViewData["ProductName"]</b>" в магазин</h4>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="ProductId" value="@ViewData["ProductId"]" />
            <div class="form-group">
                <label asp-for="ShopId" class="control-label"></label>
                <select asp-for="ShopId" class ="form-control" asp-items="ViewBag.ShopId"><option/></select>
                <span asp-validation-for="ShopId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label> в гривнях
                @if((bool)(ViewData["IsPerKg"]))
                {
                    <text>за кілограм</text>
                }
                <input asp-for="Price" onkeypress="return /[0-9\.]/i.test(event.key)" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Додати" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Details" asp-controller="Products" asp-route-id="@ViewData["ProductId"]">Повернутися до продукта</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
