@model DeliveryWebApplication.ProductInShop

@{
    ViewData["Title"] = "Видалити продукт з магазину";
}
<br/>
<h3>Ви дійсно хочете видалити продукт "<b>@ViewData["ProductName"]</b>"</h3>
<h3>з магазину "<b>@ViewData["ShopNameWithAddress"]</b>"</h3>
<h3>за ціною <b>@Html.DisplayFor(model => model.FormattedPrice)</b>?</h3>
<br/>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Видалити" class="btn btn-danger" />
    <br/>
    <br/>
    <a asp-action="Details" asp-controller="Products" asp-route-id="@Model.ProductId">Повернутися до продукта</a>
</form>