@model DeliveryWebApplication.ProductInShop

@{
    ViewData["Title"] = "Змінити ціну товара";
}

<h4>Змінити ціну продкута "<b>@ViewData["ProductName"]</b>"</h4>
<h4>в магазині "<b>@ViewData["ShopNameWithAddress"]</b>"</h4>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ProductId" />
            <input type="hidden" asp-for="ShopId" />
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label> в гривнях
                @if((bool)(ViewData["IsPerKg"]))
                {
                    <text>за кілограм</text>
                }
                <input asp-for="Price" onkeypress="return /[0-9\.]/i.test(event.key)" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Details" asp-controller="Products" asp-route-id="@Model.ProductId">Повернутися до товара</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
