@model DeliveryWebApplication.Customer

@{
    ViewData["Title"] = "Додати клієнта";
}

<h4>Додати клієнта</h4>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" onkeypress="return /[0-9+]/i.test(event.key)" class="form-control" value="+380" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Повернутися до списку клієнтів</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
