@model DeliveryWebApplication.Order

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourierId" class="control-label"></label>
                <select asp-for="CourierId" class="form-control" asp-items="ViewBag.CourierId"></select>
                <span asp-validation-for="CourierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShopId" class="control-label"></label>
                <select asp-for="ShopId" class="form-control" asp-items="ViewBag.ShopId"></select>
                <span asp-validation-for="ShopId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryPrice" class="control-label"></label>
                <input asp-for="DeliveryPrice" class="form-control" />
                <span asp-validation-for="DeliveryPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationTime" class="control-label"></label>
                <input asp-for="CreationTime" class="form-control" />
                <span asp-validation-for="CreationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryTime" class="control-label"></label>
                <input asp-for="DeliveryTime" class="form-control" />
                <span asp-validation-for="DeliveryTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerComment" class="control-label"></label>
                <input asp-for="CustomerComment" class="form-control" />
                <span asp-validation-for="CustomerComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourierComment" class="control-label"></label>
                <input asp-for="CourierComment" class="form-control" />
                <span asp-validation-for="CourierComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
