@model DeliveryWebApplication.ViewModels.ChangePasswordViewModel
<h2>Змінити пароль</h2>
<form method="post" asp-controller="Account" asp-action="ChangePassword" class="col-md-4">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div>
        <label asp-for="OldPassword"></label><br />
        <input asp-for="OldPassword" class="form-control" />
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="NewPassword"></label><br />
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" class="form-control" />
        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
    </div>
    <div>
        <input type="submit" value="Зберегти" class="btn btn-primary" />
    </div>
</form>
