@model DeliveryWebApplication.Controllers.ProductsController.CreateInfo

@{
    ViewData["Title"] = "Створити товар";
}


<style>
    tbody tr:hover
    {
        background: #ffffff;
    }
</style>

<table style="width:100%"> <tr>
    <td style="padding:3%" class="with-border">
        <h4>Створити товар</h4>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Product.Weight" class="control-label"></label> в кілограмах (для товарів, що продаються поштучно)
                <input asp-for="Product.Weight" onkeypress="return /[0-9\.]/i.test(event.key)" class="form-control" />
                <span asp-validation-for="Product.Weight" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Product.TrademarkId" class="control-label"></label>
                <select asp-for="Product.TrademarkId" class ="form-control" asp-items="ViewBag.TrademarkId"><option/></select>
                <span asp-validation-for="Product.TrademarkId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Product.CategoryId" class="control-label"></label>
                <select asp-for="Product.CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"><option/></select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Product.CountryId" class="control-label"></label>
                <select asp-for="Product.CountryId" class="form-control" asp-items="ViewBag.CountryId"><option/></select>
                <span asp-validation-for="Product.CountryId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </td>
    
    <td style="padding:3%">
        <h4>Створити торгову марку</h4>
        <form asp-action="CreateTrademark">
            <div asp-validation-summary="None" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Trademark.Name" class="form-control" />
                <span asp-validation-for="Trademark.Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
        <hr />
        <h4>Створити категорію</h4>
        <form asp-action="CreateCategory">
            <div asp-validation-summary="None" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Category.Name" class="form-control" />
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </td>
</tr> </table>
<br/><br/><br/>
<div>
    <a asp-action="Index">Повернутися до списку товарів</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
